{% extends "master1.html" %}
{% block content1 %}
<center><h1 style="color:red">Welcome to Admin Block</h1></center>
<center>You Have Successfully Logged In</center>
<!--<h1>Admin Block</h1>
<p><a href="admin_reg">New Admin</a> </p>
<p><a href="medical_reg">New Medical</a> </p>
<p><a href="show_admins">Show Admins</a> </p>
<p><a href="show_medicals">Show Medicals</a> </p>
<p><a href="admin_profile">My Profile</a> </p>
<p><a href="change_password_admin">Change Password</a> </p>
<p><a href="logout">Logout</a> </p>-->

{% endblock %}