<h1>Edit and save</h1>
{% if data %}
    <form method="post" action="edit_medicine1">
        <p>med_id <input readonly type="text" name="T1" value="{{data[0]}}"  /></p>
        <p>name <input type="text" name="T2" value="{{data[1]}}"  /></p>
        <p>company <input type="text" name="T3" value="{{data[2]}}"  /></p>
        <p>lno <input type="text" name="T4" value="{{data[3]}}"  /></p>
        <p>med_type <input type="text" name="T5" value="{{data[4]}}"  /></p>
        <p>unit_price <input type="text" name="T6" value="{{data[5]}}"  /></p>
        <p>details <input type="text" name="T7" value="{{data[6]}}"  /></p>
        <p><input type="submit" name="B1" value="Save Changes" /> </p>
    </form>
{% elif msg %}
    <h3>{{msg}}</h3>
{% endif %}